<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>

<input id="login" placeholder="Логин"><br><br>
<input id="password" type="password" placeholder="Пароль"><br><br>

<button onclick="sendRegister()">Зарегистрироваться</button>
<a href="/">Назад</a>

<p id="message" style="color:red"></p>

<script>
    function sendRegister() {
        const login = document.getElementById("login").value;
        const password = document.getElementById("password").value;
        const message = document.getElementById("message");

        message.textContent = "";

        fetch("/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({login, password})
        })
            .then(async responce => {
                const data = await responce.json();
                if (!responce.ok) {
                    throw new Error(data.error);
                }
                return data;
            })
            .then(() => {
                window.location.href = "/game";
            })
            .catch(err => {
                message.textContent = err.message;
            });
    }
</script>
</body>
</html>