<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Вход</h2>

<input id="login" placeholder="Логин"><br><br>
<input id="password" type="password" placeholder="Пароль"><br><br>

<button onclick="sendLogin()">Войти</button>


<p id="message" style="color: red;"></p>

<script>
    function sendLogin() {
        const login = document.getElementById("login").value;
        const password = document.getElementById("password").value;
        const message = document.getElementById("message");

        message.textContent = "";

        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({login, password})
        })
            .then(async response => {
                const data = await response.json();

                if (!response.ok) {
                    throw new Error(data.error);
                }

                return data;
            })
            .then(() => {
                window.location.href = "/game";
            })
            .catch(err => {
                message.style.color = "red";
                message.textContent = err.message;
            });
    }
</script>

</body>
</html>